<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Atlanta Eats!</title>

        <!-- Bootstrap -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

         <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/sweet-alert/sweetalert.css">
        <link rel="stylesheet" href="/jquery-bar-rating/dist/themes/fontawesome-stars.css">
        <link rel="stylesheet" href="/style.css">

        <!-- Scripts -->
        <script src="/sweet-alert/sweetalert.min.js"></script>
        <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
        <script src="/jquery-bar-rating/dist/jquery.barrating.js"></script>
        <script src="/app.js"></script>
        <script>
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
        analytics.load("Sn8M9bLQmeZOdR0eDb3vI5DkHz8BywW1");
        analytics.page();
        }}();
        </script>

        <!-- Browser Icon  -->
        <link rel="icon" href="/cutlery.png">
    </head>


    <body>
        <img src="/cutlery.svg" alt="Fork and Knife" class="food">

        {{#if session.user}}
            <div id="welcome">
                <h4>Welcome, {{session.user}}!</h4>
                <p><a href="/logout">Logout</a></p>
            </div>
        {{/if}}

        <h1 id="heading"><a href="/user_home">Atlanta Eats!</a></h1>
        <div class="content">

            {{{ body }}}

        </div>

        <div class="footer">
            <p>Built by <a href="http://www.juliemdyer.com" target ="_blank">Julie</a> at DigitalCrafts</p>
        </div>
    </body>

</html>
