<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Atlanta Eats!</title>

        <!-- Bootstrap -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

         <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/jquery-bar-rating/dist/themes/fontawesome-stars.css">

        <!-- Scripts -->
        <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
        <script src="/jquery-bar-rating/dist/jquery.barrating.js"></script>
        <script src="/app.js"></script>

        <!-- Browser Icon  -->
        <link rel="icon" href="/cutlery.png">
    </head>


    <body>
        <img src="/cutlery.svg" alt="Fork and Knife" class="food">

        {{#if session.user}}
            <div id="welcome">
                <h4>Welcome, {{session.user}}!</h4>
                <p><a href="/logout">Logout</a></p>
            </div>
        {{/if}}

        <h1 id="heading"><a href="/">Atlanta Eats!</a></h1>
        <div class="content">

            {{{ body }}}

        </div>

        <div class="footer">
            <p>Built by Julie at DigitalCrafts</p>
        </div>
    </body>

</html>
