<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Atlanta Eats!</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <img src="/cutlery.svg" alt="Fork and Knife">
        <h1 id="heading"><a href="/">Atlanta Eats!</a></h1>
        <div class="content">

            {{{ body }}}

        </div>
    </body>
</html>
