<!DOCTYPE html>

<div class="must_login">
    <img src="/warning.png" alt="Warning sign">
    <h3>Oops, that didn't work! <a href="/login">Try again?</a></h3>
    <p>New?<a href="/sign_up"> Sign up</a></p>
</div>
