<!DOCTYPE html>

<form action="/submit_login" method="POST">
    <div class="form-group new">
        <label>Username:</label>
        <input type="text" name="username" class="form-control form-input">
    </div>

    <div class="form-group new">
        <label>Password:</label>
        <input type="password" name="password" class="form-control form-input">
    </div>

    <input type="submit" name="submit" value="Submit" class="submit" id="new-submit">
    <br>
</form>
