<!DOCTYPE html>

<div class="must_login">
    <img src="/stop.png" alt="Stop sign" class="icon">
    <h3>Hold up! You must <a href="/login">log in.</a></h3>
    <p>New?<a href="/sign_up"> Sign up</a></p>
</div>
