<!DOCTYPE html>
<h3>Add a Restaurant:</h3>
<div class="container">
    <form action="/restaurant/submit_new" method="POST">
        <div class="form-group new">
            <label>Name:</label>
            <input type="text" name="name" class="form-control form-input">
        </div>

        <div class="form-group new">
            <label>Address:</label>
            <input type="text" name="address" class="form-control form-input">
        </div>

        <div class="form-group new">
            <label>Category:</label>
            <input type="text" name="category" class="form-control form-input">
        </div>
        <input type="submit" name="submit" value="Submit" class="submit" id="new-submit">
        <br>
    </form>

</div>
