<!DOCTYPE html>
<h3>Add a Restaurant:</h3>
<div class="new_restaurant">
    <form action="/restaurant/submit_new" method="POST">
        <div class="form-group new">
            <label>Name:</label>
            <input type="text" name="name" class="form-control form-input">
        </div>

        <div class="form-group new">
            <label>Address:</label>
            <input type="text" name="address" class="form-control form-input">
        </div>

        <div class="form-group new">
            <label>Category:</label>
            <input type="text" name="category" class="form-control form-input">
        </div>

        <div class="form-group new">
            <p>Favorite: </p>
            <div class="radio">
                <label>
                    <input type="radio" name="favorite" value="true">
                    <p>Yes</p>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="favorite" value="false">
                    <p>No</p>
                </label>
            </div>
        </div>

        <input type="submit" name="submit" value="Submit" class="submit" id="new-submit">
        <br>
    </form>

</div>
