<!DOCTYPE html>

<form action="/add_user" method="POST" class="new_user">
    <div class="form-group new">
        <label>First Name:</label>
        <input type="text" name="first" class="form-control first form-input">
    </div>

    <div class="form-group new">
        <label>Last Name:</label>
        <input type="text" name="last" class="form-control last form-input">
    </div>

    <div class="form-group new">
        <label>Username:</label>
        <input type="text" name="username" class="form-control username form-input">
    </div>

    <div class="form-group new">
        <label>Email:</label>
        <input type="text" name="email" class="form-control email form-input">
    </div>

    <div class="form-group new">
        <label>Password:</label>
        <input type="password" name="password" class="form-control password form-input">
    </div>

    <div class="form-group new">
        <label>Confirm Password:</label>
        <input type="password" name="confirmPassword" class="form-control form-input confirmPassword">
    </div>

    <button type="button" name="button" id="new_user">Submit</button>

    <br>
</form>

<p>Already a member? <a href="/">Log in</a></p>
